section.calculator {
/*	display: flex;
	justify-content: center;
  	position: relative;
  	top: 50%;
  	left: 50%;
  	height: 97.5vh;
  	min-width: 340px;
  	transform: translate(-50%, -50%);*/
}

div.buttons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

div.buttons:before {
	content: ' ';
	display: block;
	/*height: 45%;*/
	height: 266px;
}

div.buttons > div.main {
	margin-top: 135px;
	margin-left: 27px;
	height: 25px;
	display: grid;
  	grid-template-columns: 40px 40px 40px 40px 40px ;
  	grid-column-gap: 7px;
  	grid-row-gap: 18px;
}

div.buttons > div.main > button {
	cursor: pointer;
	/*opacity: 0;*/
}